.sources-content{
    max-width: var(--content-width);
    margin: 60px auto;
    background: #ffffff;
    padding: 50px 60px;
}

.sources-content h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--color-heading);
}

.sources-content p{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 20px;
}
